# OS X Stuff
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
Thumbs.db

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Sass Files
.sass-cache
*.css.map

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# Builded zip
*.zip

# all wordpress files
wwwroot/

# Composer Files
vendor/

# config and packages
keys.php
config.nucleus.json
!config/config.nucleus.json
composer.json
composer.lock
package-lock.json
sql/*

# generated translation files
src/languages/*.mo
src/languages/*.po

build/
src/plugins/
